## MLOps Assignment 1

# New Section

Q1. Print multiplication table from 1 to 10

In [ ]:
#write here and run the cell

for i in range(1,11):
  print("Table of:", i)
  for j in range(1,11):
    print(f"{i} x {j} = {i*j}", end = "\t")
  print()
    #print("Table of ",{i}, " is: ", i*j)

Table of: 1
1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
Table of: 2
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
Table of: 3
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
Table of: 4
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
Table of: 5
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
Table of: 6
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
Table of: 7
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
Table of: 8
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
Table of: 9
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
Table of: 10
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
#write here and run the cell
l1 = ["DELHI", "MUMBAI", "KOLKATA", "CHENNAI", "UP", "GUJRAT"]
l2 = ["CRICKET", "FOOTBALL", "BADMINTON", "TABLE TENNIS", "SQUASH"]
l3 = []

for i in range(1,len(l1),2):
    l3.append(l1[i])

for j in range(0,len(l2),2):
    l3.append(l2[j])

print(l3)

['MUMBAI', 'CHENNAI', 'GUJRAT', 'CRICKET', 'BADMINTON', 'SQUASH']

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [59]:
#write here and run the cell

for i in range(8):
  for j in range(i):
    print(" ", end="")
  for k in range(8-i):
    print("*", end ="")
  print()

********
 *******
  ******
   *****
    ****
     ***
      **
       *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
#write here and run the cell
def exponent(base, exp):
  if exp>0:
    return print(base**exp)

exponent(5,4)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [18]:
#write here and run the cell
file1 = open("test.txt", "a+")
user_input = ['line1\n','line2\n','line3\n','line4\n','line5\n','line6\n','line7\n']
#user_input = input("Type: \n")
with open("test.txt", "a+") as file1:
    file1.writelines(user_input)

In [65]:

with open("test.txt", "r") as org:
  lines = org.readlines()

with open("new_test.txt","w") as new_file:
  for i, line in enumerate(lines):
    if i!=4:
      new_file.write(line)

In [66]:
with open("new_test.txt","r") as new_file:
  for i in new_file:
    print(i, end='')

line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [31]:
#write here and run the cell
user = input("Enter: ")
txt = user.split()
for i in txt:
  print(i)

Enter: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [33]:
#write here and run the cell
def show_employee(name, salary=9000):
  print(f"Name:{name} Salary:{salary}")

show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name:Bill Gates Salary:12000
Name:Elon Musk Salary:9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [39]:
#write here and run the cell
str1 = "Harry25 is Gryffindor Wizard50 and cursed"
spl_str = str1.split()
result = []

for i in spl_str:
  letter = False
  num = False

  for j in i:
    if j.isalpha():
      letter = True

    if j.isdigit():
      num = True

  if letter and num:
    print(i)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [45]:
#write here and run the cell
str1 = '/*Modi is @Politician & Melony!!'
var = ''

for i in str1:
  if not i.isalnum() and i != ' ':
    var +='#'

  else:
    var += i

print(var)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [52]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
reult = set()


for i in range(len(first_list)):
  i=(first_list[i], second_list[i])
  result.add(i)

print(result)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [54]:
#write here and run the cell
A = {1,3,5,6,7}
B = {2,4,6,8,10}

Minus = A - B
Add = B - A
Intersection = A & B
Union = A | B

print("A-B:", Minus)
print("A+B:", Add)
print("A&B:", Intersection)
print("A|B:", Union)

A-B: {1, 3, 5, 7}
A+B: {8, 2, 10, 4}
A&B: {6}
A|B: {1, 2, 3, 4, 5, 6, 7, 8, 10}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [82]:
#write here and run the cell
class Vehicle:
    def __init__(self, m_speed, mileage):
        self.m_speed = m_speed
        self.mileage = mileage

    def display(self):
      print("Max Speed is: ", self.m_speed)
      print("Mileage is: ", self.mileage)


obj_Vehicle = Vehicle(200, 50000)
obj_Vehicle.display()

Max Speed is:  200
Mileage is:  50000

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [60]:
#write here and run the cell
class Vehicle:
    def __init__(self, m_speed, mileage):
        self.m_speed = m_speed
        self.mileage = mileage


class Bus(Vehicle):
    def __init__(self, m_speed, mileage):
        super().__init__(m_speed, mileage)

    def display(self):
      print("Max Speed: ", self.m_speed)
      print("Mileage: ", self.mileage)

obj_bus = Bus(200, 50000)
obj_bus.display()

Max Speed:  200
Mileage:  50000

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [70]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def __init__(self, name, max_speed, mileage):
      super().__init__(name, max_speed, mileage)

  def seating_capacity(self, capacity=50):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

obj_bus = Bus("bus", 120,2000)

print(obj_bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [74]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def fare(self):
    vehicle_fare = super().fare()
    maintainence = 0.10 * vehicle_fare
    total = vehicle_fare + maintainence
    return total


School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [78]:
#write here and run the cell
import json

data = {"key1" : "value1", "key2" : "value2"}

jdata = json.dumps(data, indent=2)
print(jdata)

{
  "key1": "value1",
  "key2": "value2"
}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [79]:
#write here and run the cell

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

with open('json_file.json', 'w') as file:
    json.dump(sampleJson, file, indent=4, sort_keys=True)

In [80]:
import json

with open('json_file.json', 'r') as file:
    data = json.load(file)

print(json.dumps(data, indent=4))

{
    "age": 29,
    "id": 1,
    "name": "value2"
}